body {
  background: #FFEC00;
  font-family: 'Karla', Helvetica, Arial !important;
  margin: 0;
  padding: 0;

  font-size: 30px;
  overflow: hidden;
}

::-webkit-scrollbar { 
  display: none; 
}

.button {
  background: black;
  color: white;
  padding: 20px 23px;
  width: 100px;
  text-align: center;
  cursor: pointer;
}

input {
  margin: 10px 0 30px 0;
  font-size: 30px;
  width: 279px;
  padding: 5px 10px;
  font-family: 'Karla', Helvetica, Arial !important;
}

#container {
  width: 1600px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

#info {
  width: 580px;
  height: 100%;
  position: absolute;
  top: 40px;
  left: 0;
  font-size: 55px;
}

#result {
  border: 2px dashed black;
}

#result, #result img {
  background: white;
  width: 279px;
  height: 496px;
  margin-bottom: 40px;
}

#result img {
  transform: rotate(-90deg);
  transform-origin: top left;
  position: absolute;
  height: 279px;
  width: 496px;
  top: 538px;

}

#camera {
   position: absolute;
   top: 1040px;
   left: 670px;
   transform-origin: top left;
   transform: rotate(-90deg);
   cursor: pointer;
}

#form {
  float: right;
  margin-top: 40px;
  left: 600px;
  width: 279;
}

#take_button {
  position: absolute;
  bottom: 80px;
  left: 780px;
  background: black;
  color: white;
  padding: 20px;
  cursor: pointer;
}

#submit {
  position: absolute;
  bottom: 40px;
  width: 230px;
}

#overlay {
  background: black;
  color: white;
  text-align: center;
  padding-top: 400px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  font-size: 50px;
  display: none;
}

.leader {

  transform: rotate(-90deg);
  width: 1920px;
  height: 1080px;
  position: absolute;
  top: 420px;
  left: -420px;
  z-index: -1;
}

#label {
  padding: 25px 50px;
  color: white;
  background: black;
  font-size: 120px;
  position: absolute;
  left: 0;
  bottom: 50px;
}

#logo {
  position: absolute;
  width: 25%;
  right: 2%;
  top: 2%;
}